@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

:root {
  --font-montserrat: 'DM Sans', sans-serif;
  --font-inter: 'DM Sans', sans-serif;
}

$font-principal: 'DM Sans', sans-serif;
$font-secondary: 'DM Sans', sans-serif;
